.container{
	text-align: center;
	padding-top: 30%;
}

#instruction{
	text-align: center;
	color: red;
}

#location{
	color: pink;
}

#counter{
	text-align: center;
}

.questions2{
	color : orange;
}

.questions3{
	color: purple;
}

.questions4{
	color: green;
}

#questions5{
	color: yellow;

}